<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Message Details</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<h2><%=user%></h2>
		<div class="messageContainer">
				<p><em><%= added %></em></p>
			<div class="messageContent">
				<p><%=text%></p>
			</div>
			<button><a
				href="/"
				>Home</a
			>
        </button>
		</div>
	</body>
</html